.about {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  padding-bottom: 5%;
  img {
    width: 45%;
    margin: 1%;
    .img-style();
  }
  .about_content {
    margin: 1%;
    align-self: center;
  }
}

.team {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-bottom: 3%;
  img {
    width: 45%;
    margin: 1%;
    .img-style();
  }
  .team_content {
    margin: 1%;
    align-self: center;
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
  .member {
    display: flex;
    width: 45%;
    margin-top: 5%;
    img {
      width: 40%;
      margin: 1%;
      .img-style();
    }
    .member_content {
      margin: 1%;
      margin-top: 3%;
      img {
        border: none;
        width: 10%;
        border-radius: 0;
      }
    }
  }
  .rpic {
    flex-direction: row-reverse;
  }
}
