.contact-form {
    text-align: center;
    padding-bottom: 2.5rem;
    box-shadow: 2px 5px 9px 4px #b8af89;
    h2 {
        padding: 1.2rem 0;
        font-size: 3.2rem;
        letter-spacing: 4px;
    }

    form {
        background: #fff;
        width: 90%;
        max-width: 70rem;
        margin: auto;
        padding: 3rem 3rem 5rem 3rem;
        border-radius: 5px;
        box-shadow: 2px 5px 9px 4px #b8af89;

        .customer-farmer {
            max-width: 60rem;
            display: flex;
            align-items: center;
            padding: 0 0 1.5rem  1.8rem;

            select {
                .text-style(2rem, "Nunito", #fff, normal);
                background: #5296a5;
                margin-left: 2rem;
            }
        }

        section {
            border: 1px solid grey;
            margin: 8px 0;
            padding: 12px 18px;
            border-radius: 8px;

            label {
                .text-style(1.7rem, "Mali", #1b6575, bold);
                display: block;
                text-align: left;
                text-transform: uppercase;
            }

            input, textarea {
                .text-style(1.6rem, "Monaco", #718d30, normal);
                width: 100%;
                border: none;
                background: none;
                outline: none;
                margin-top: 7px;
            }
        }

        .send-btn {
            .text-style(1.8rem, "Mali", #fff, normal);
            display: block;
            width: 100%;
            background: #5296a5;
            padding: 14px 0;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 2rem;

            &:hover {
                letter-spacing: 1px;
            }
        }
    }

    @media @tablet {
        padding-left: 10%;
        h3 {
            font-size: 2.3rem;
        }
    }

    @media(max-width: 700px) {
        padding-left: 17%;
        h2 {
            font-size: 2.8rem;
        }
    }

    @media @mobile {
        padding-left: 0;
    }

    @media @very-small-device {
        h2 {
            font-size: 11vw;
        }

        form {
            padding: 1rem;

            .customer-farmer {
                flex-direction: column;

                h3 {
                    font-size: 2rem;
                }
                select {
                    margin: 1rem 0 0 0;
                    font-size: 9vw;
                }
            }

            section {
                label {
                    font-size: 7vw;

                    input, textarea {
                        font-size: 6vw;
                    }
                }
            }

            .send-btn {
                font-size: 8vw;
            }
        }
    }
}