footer {
    background-image: url(/images/dark-wheat.jpg);
    box-shadow: inset 0.2rem 0.2rem 0.8rem 0rem #ad915c;
    text-align: center;
    
    .left-footer {
        .flex(flex-start, column);
        align-items: center;

        h2 {
            padding: 1rem 0;
        }
    }
    .social-icons {
        .flex(space-evenly, row);
        width: 35rem;

        img:hover {
            background-color: rgb(31, 214, 190);
        }
    }
}