footer {
    padding-top: 2rem;
    text-align: center;
    box-shadow: inset 0.2rem 0.2rem 0.8rem 0rem #5c9ead;
    
    .left-footer {
        .flex(center, row)
    }
    .social-icons {
        .flex(space-evenly, row);
        width: 35rem;
        img:hover {
            background-color: rgb(241, 221, 183);
        }
    }
    p {
        padding: 2rem 0;
    }
}