html, body {
	font-size: 62.5%;
	max-width: 144rem;
	margin: 0 auto;
	background-image: url(/images/dark-wheat.jpg);
	scroll-behavior: smooth;
}

p {
	.text-style(2rem, 'Nunito', black, inherit);
	padding: 1.5rem 0;
	line-height: 2.6rem;

	@media @tablet {
		font-size: 1.8rem;
	}

	@media @very-small-device {
		line-height: 5vh;
		font-size: 6.5vw;
	}
}

h2 {
	.text-style(2.9rem, 'Mali', #90a955, inherit);

	@media @tablet {
		.text-style(2.2rem, 'Mali', #90a955, bold);
	}

	@media @very-small-device {
		font-size: 7.2vw;
	}
}

h3 {
	.text-style(2.4rem, 'Mali', #33646e, inherit);

	@media @tablet {
		.text-style(1.95rem, 'Mali', #33646e, bold);
	}

	@media @very-small-device {
		font-size: 6.9vw;
	}
}

header, .under-nav {
	a {
		.links-style();
	}
}