html, body {
	font-size: 62.5%;
	max-width: 144rem;
	margin: 0 auto;
	background-image: linear-gradient(#245031, #c98f38);
}
p {
	padding: 1.5rem 0;
	line-height: 2.5rem;
	.text-style(1.8rem, 'Nunito', 0);
	font-weight: 600;
	@media @tablet {
		font-size: 1.5rem;
	}
}
h2 {
	.text-style(3rem, 'Mali', #90a955);
	@media @tablet {
		font-size: 2.2rem;
	}
}
h3 {
	.text-style(2.4rem, 'Mali', #33646e);
	@media @tablet {
		font-size: 1.8rem;
	}
}
header, .under-nav {
	a {
		.anchor-specs();
	}
}