html, body {
	font-size: 62.5%;
	max-width: 144rem;
	margin: 0 auto;
	background-image: linear-gradient(#245031, #c98f38);
}

p {
	.text-style(1.8rem, 'Nunito', 0);
	padding: 1.5rem 0;
	line-height: 2.5rem;
	font-weight: Medium;

	@media @tablet {
		font-size: 1.6rem;
	}

	@media @very-small-device {
		line-height: 4vh;
		font-size: 6vw;
	}
}

h2 {
	.text-style(2.9rem, 'Mali', #90a955);
	font-weight: bold;

	@media @tablet {
		font-size: 2rem;
	}

	@media @very-small-device {
		font-size: 7vw;
	}
}

h3 {
	.text-style(2.4rem, 'Mali', #33646e);
	font-weight: bold;

	@media @tablet {
		font-size: 1.8rem;
	}

	@media @very-small-device {
		font-size: 6vw;
	}
}

header, .under-nav {
	a {
		.links-style();
	}
}

// * {
// 	border: 1px solid red!important;
// }