header {
    font-family: 'Mali', cursive;
    nav {
        box-shadow: inset 0 0 1.5rem #4b290d;
        .size(7rem, 100%);
        .flex(space-between, row);
        font-size: 2.6rem;
        padding: 0 10rem;
        background-image: url(/images/dark-wheat.jpg);
        position: fixed;
        top: 0;
        border-bottom: 5px solid #cabdb0;
        a {
            .anchor-specs();
            &:hover {
                background: #eeedd7;
                border-radius: 0.6rem;
                font-size: 2.8rem;
            }
        }
        img {
            .size(11rem, 23rem);
            position: relative;
            top: 1.5rem;
        }
    }

    .slide-show {
        margin-top: 7rem;
        .size(30rem, 100%);
        
        background: #90a955;
    }
}
