.top-main-content {
    background-image: url(/images/dark-wheat.jpg);
    .top {
        padding: 2.5rem 0;
        text-align: center;
        box-shadow: 0 1px 4px #999;
        h2 {
            padding-top: 1rem;
            font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
            font-size: 4rem;
        }
    }

    .arrow-down {
        text-align: center;
        background: #fff;
        box-shadow: 0 1px 4px rgb(143, 137, 137);
    }
}

.main-content {
    background: #fff;

    .produce {
        .flex(space-around, row);
        transition: 1s;
        div {
            width: 42%;
            align-self: center;
            img {
                width: 70%;
                transition: 1s;
            }
        }
        @media @tablet {
            padding-left: 11rem;
        }
    }
    .bottom-content {
        .flex(space-between, row);
        padding: 4rem;
        transition: 1s;

        h2 {
            padding-bottom: 3rem;
        }
        .bottom-left {
            width: 49%;
        }
        .bottom-right {
            width: 49%;
        }
        @media @tablet {
            padding: 4rem 0.5rem 4rem 11rem;
        }
    }
}