.top-main-content {
    .top {
        padding: 2.5rem 0;
        margin-top: 3rem;
        text-align: center;
        box-shadow: 0 1px 4px #999;
        padding: 2.5rem 0;
        h2 {
            padding-top: 1rem;
            font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
            font-size: 4rem;
        }
        
    }
    .arrow-down {
        text-align: center;
        background: #fff;
        box-shadow: 0 1px 4px #999;
    }
}

.main-content {
    height: 100rem;
    
    .produce {
        background: #fff;
        #grapes {
            .size(20rem, 40rem);
            align-self: center;
        }
        .flex(space-evenly, row);
    }
    .bottom-content {
        // background: #f0f1dd;
        .flex(space-between, row);
        padding: 2rem 0 2rem 4rem;
        
        h2 {
            padding-bottom: 3rem;
        }
        .bottom-left {
            width: 49%;
        }
        .bottom-right {
            width: 49%;
        }
    }
}