.nav_tablet_query {
    flex-direction: column;
    position: inherit;
    .logo {
        margin-left: 0;
        align-self: center;
    }
    .navigation {
        flex-direction: column;
        position: fixed;
        top: 6.6rem;
        left: 0;
        a {
            box-shadow: none;
            align-self: flex-start;
            margin: 1.5rem 0;
            font-size: 1.7rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-weight: bold;
        }
    }
}

.under-nav_tablet_query {
    margin: 0 0 0 7.5rem;
    padding: 4rem 0 4rem 0;

    .intro {
        // padding: 0 0.5rem 0 4rem;
        width: 45%;
        #main-button {
            font-size: 1.6rem;
            margin-top: 0;
            padding: 0.8rem 1.2rem;
        }
    }
    .slide-show {
        width: 55%;
    }
}