.flex (@justify, @direction) {
    display: flex;
    justify-content: @justify;
    flex-direction: @direction;
}
.size (@height, @width) {
    height: @height;
    width: @width;
}
.anchor-specs() {
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: #a85f1a;
    font-weight: bold Italic;
    padding: 1rem;
}
.button-specs() {
    background: orange;
    font-size: 2.5rem;
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    cursor: pointer;
}
.radius(@top-left, @bottom-left) {
    border-top-left-radius: @top-left;
    border-bottom-left-radius: @bottom-left;
}
.logo-style() {
    h1 {
        width: 25rem;
        align-self: center;
        padding-left: 1rem;
        font-size: 3.5rem;
        color: #a85f1a;
        text-align: center;
        font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
        font-weight: bold;
    }
}