nav {
    .size(8rem, 100%);
    .flex(space-between, row);
    background: #fff;
    position: fixed;
    top: 0;
    max-width: 144rem;
    z-index: 99;

    .logo {
        .logo-style();
        display: flex;
        
        img {
            .size(8rem, 7rem);
        }
        transition: 0.8s;
    }

    .navigation {
        .flex(space-around, row);
        width: 60%;

        a {
            transition: 0.8s;
        }
    }

    @media @tablet {
        .size(7rem, 100%);
        .flex(center, row);
        position: inherit;

        .logo {
            margin-left: 0;
            align-self: center;
        }
        .navigation {
            flex-direction: column;
            position: fixed;
            top: 6rem;
            left: 0;

            a {
                .radius(0, 0);
                background: #ffc600;
                align-self: flex-start;
                margin: 1.2rem 0;
                font-size: 1.5rem;

                &:hover {
                    .radius(0, 0);
                }
            }
        }
    }

    @media @mobile {
        position: fixed;
        top: 0;
        background: #fff;

        .logo {
            h1 {
                font-size: 6vw;
            }
            img {
                width: 14vw;
                height: 7rem;
            }
            @media(max-width: 200px) {
                display: none;
            }
        }

        .hamburger {
            position: fixed;
            right: 5%;
            top: 17px;
            z-index: 99;
            cursor: pointer;

            .line {
                width: 8vw;
                height: 3px;
                margin: 7px 0;
                background: #a53c13;
            }

            @media(max-width: 200px) {
                right:inherit;
                .line {
                    width: 20vw;
                }
                
            }
        }

        .navigation {
            .flex(flex-start, column);
            position: fixed;
            top: 7rem;
            left: 75%;
            width: 100%;
            height: 100vh;
            background-image: url(/images/dark-wheat.jpg);
            clip-path: circle(70px at 90% -10%);
            -webkit-clip-path: circle(70px at 90% -10%);
            transition: all 0.8s ease-out;
            pointer-events: none;

            
        }
        .open {
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
            top: 7rem;
            left: 0;
            background-image: url(/images/dark-wheat.jpg);
            flex-direction: column;
            pointer-events: all;

            a {
                opacity: 0;
                align-self: center;
                margin: 3vh 0;
                border-radius: 4px;
                font-size: 6vw;
                box-shadow: none;
                width: 80%;
                text-align: center;
                padding: 1rem 0;
                
                &:hover {
                    border-radius: 0;
                    transition: 0s;
                    transform: translateY(1px);
                }
            }
        }
        
        a:nth-child(1) {
            transition: all 0.5s ease 0.2s;
        }
        a:nth-child(2) {
            transition: all 0.5s ease 0.4s;
        }
        a:nth-child(3) {
            transition: all 0.5s ease 0.6s;
        }
        a:nth-child(4) {
            transition: all 0.5s ease 0.8s;
        }
        a.fade {
            opacity: 1;
        }
    }
}

.nav-on-scroll {
    background-image: url(/images/dark-wheat.jpg);
    box-shadow: inset 0.2rem 0.2rem 0.8rem 0.1rem #634a1c;
    a {
        background: inherit;
    }

    @media @tablet {
        background: #fff;
        box-shadow: none;
    }
    @media @mobile {
        background-image: url(/images/dark-wheat.jpg);
    }
}