@keyframes sliders {
  0% {
    left: 0;
  }
  7% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  17% {
    left: -100%;
  }
  20% {
    left: -200%;
  }
  27% {
    left: -200%;
  }
  30% {
    left: -300%;
  }
  37% {
    left: -300%;
  }
  40% {
    left: -400%;
  }
  47% {
    left: -400%;
  }
  50% {
    left: -500%;
  }
  57% {
    left: -500%;
  }
  60% {
    left: -600%;
  }
  67% {
    left: -600%;
  }
  70% {
    left: -700%;
  }
  77% {
    left: -700%;
  }
  80% {
    left: -800%;
  }
  87% {
    left: -800%;
  }
  90% {
    left: -900%;
  }
  100% {
    left: -900%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
header {
  background: #f9f8e3;
}
header nav {
  background: #fff;
  position: fixed;
  top: 0;
  max-width: 144rem;
  z-index: 99;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
header nav .logo {
  width: 26.5rem;
  display: flex;
  margin-left: 2.5rem;
  transition: 1s;
}
header nav .logo h1 {
  width: 25rem;
  align-self: center;
  text-align: center;
  padding-left: 1rem;
  font-size: 3.5rem;
  color: #a85f1a;
  font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
  font-weight: bold;
}
@media (max-width: 900px) {
  header nav .logo h1 {
    font-size: 3.2rem;
  }
}
header nav .logo img {
  height: 8rem;
  width: 7rem;
}
header nav .navigation {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
header nav .navigation a {
  transition: 1s;
}
@media (max-width: 900px) {
  header nav {
    flex-direction: column;
  }
  header nav .logo {
    margin-left: 0;
    align-self: center;
  }
  header nav .navigation {
    flex-direction: column;
  }
  header nav .navigation a {
    background: #fff;
    align-self: flex-start;
    margin: 1.5rem 0;
    font-size: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
  }
}
header .nav-on-scroll {
  background-image: url(/images/dark-wheat.jpg);
  box-shadow: inset 0.2rem 0.2rem 0.8rem 0rem #ad915c;
}
header .under-nav {
  display: flex;
  justify-content: 0;
  flex-direction: row;
  align-items: center;
  margin-top: 8rem;
  padding: 8rem 0rem 4rem 0;
}
header .under-nav .intro {
  display: flex;
  justify-content: 0;
  flex-direction: column;
  width: 50%;
  padding: 0 4rem;
  transition: 1s;
}
header .under-nav .intro #main-button {
  background: #5296a5;
  color: #fff;
  padding: 1.2rem 1.4rem;
  margin-top: 2rem;
  transition: 1s;
}
header .under-nav .slide-show {
  width: 50%;
  overflow: hidden;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border: 4px solid #5c9ead;
  border-right: none;
  transition: 1s;
}
header .under-nav .slide-show figure {
  position: relative;
  width: 1000%;
  margin: 0px;
  left: 0px;
}
header .under-nav .slide-show img {
  width: 10%;
  float: left;
  border-right: none;
}
@media (max-width: 900px) {
  header .under-nav {
    margin-left: 7.5rem;
  }
  header .under-nav .intro {
    padding: 0 0.5rem 0 4rem;
    width: 45%;
  }
  header .under-nav .intro #main-button {
    font-size: 1.8vw;
    margin-top: 0;
    padding: 0.8rem 1.2rem;
  }
  header .under-nav .slide-show {
    width: 55%;
  }
}
footer {
  background-image: url(/images/dark-wheat.jpg);
  box-shadow: inset 0.2rem 0.2rem 0.8rem 0rem #ad915c;
  text-align: center;
}
footer .left-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
footer .left-footer h2 {
  padding: 1rem 0;
}
footer .social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 35rem;
}
footer .social-icons img:hover {
  background-color: #1fd6be;
}
.top-main-content {
  background-image: url(/images/dark-wheat.jpg);
}
.top-main-content .top {
  padding: 2.5rem 0;
  text-align: center;
  box-shadow: 0 1px 4px #999;
}
.top-main-content .top h2 {
  padding-top: 1rem;
  font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
  font-size: 4rem;
}
.top-main-content .arrow-down {
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 4px #8f8989;
}
.main-content {
  background: #fff;
}
.main-content .produce {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  transition: 1s;
}
.main-content .produce div {
  width: 42%;
  align-self: center;
}
.main-content .produce div img {
  width: 70%;
  transition: 1s;
}
@media (max-width: 900px) {
  .main-content .produce {
    padding-left: 11rem;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4rem;
  transition: 1s;
}
.main-content .bottom-content h2 {
  padding-bottom: 3rem;
}
.main-content .bottom-content .bottom-left {
  width: 49%;
}
.main-content .bottom-content .bottom-right {
  width: 49%;
}
@media (max-width: 900px) {
  .main-content .bottom-content {
    padding: 4rem 0.5rem 4rem 11rem;
  }
}
html,
body {
  font-size: 62.5%;
  max-width: 144rem;
  margin: 0 auto;
  background-image: linear-gradient(#245031, #c98f38);
}
p {
  padding: 1.2rem 0;
  line-height: 2.5rem;
  font-size: 1.8rem;
  font-family: 'Nunito', Sans-serif;
  color: 0;
  font-weight: 600;
}
@media (max-width: 900px) {
  p {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 3rem;
  font-family: 'Mali', Sans-serif;
  color: #90a955;
}
@media (max-width: 900px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 2.4rem;
  font-family: 'Mali', Sans-serif;
  color: #33646e;
}
@media (max-width: 900px) {
  h3 {
    font-size: 2rem;
  }
}
header a,
.under-nav a {
  font-size: 2.3rem;
  font-family: 'Mali', Sans-serif;
  color: #a85f1a;
  align-self: center;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  box-shadow: 2px 5px 9px 4px #b8af89;
}
header a:active,
.under-nav a:active {
  box-shadow: 0 5px 10px #b48a3b;
  transform: translateY(1px);
}
header a:hover,
.under-nav a:hover {
  background: #2e889c !important;
  color: #fff;
  border-radius: 0.8rem;
}
.tablet_nav_query {
  flex-direction: column;
}
.tablet_nav_query .logo {
  margin-left: 0;
  align-self: center;
}
.tablet_nav_query .navigation {
  flex-direction: column;
}
.tablet_nav_query .navigation a {
  background: #fff;
  align-self: flex-start;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
}
.tablet_under-nav_query {
  margin-left: 7.5rem;
}
.tablet_under-nav_query .intro {
  padding: 0 0.5rem 0 4rem;
  width: 45%;
}
.tablet_under-nav_query .intro #main-button {
  font-size: 1.8vw;
  margin-top: 0;
  padding: 0.8rem 1.2rem;
}
.tablet_under-nav_query .slide-show {
  width: 55%;
}
