@keyframes sliders {
  0% {
    left: 0;
  }
  7% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  17% {
    left: -100%;
  }
  20% {
    left: -200%;
  }
  27% {
    left: -200%;
  }
  30% {
    left: -300%;
  }
  37% {
    left: -300%;
  }
  40% {
    left: -400%;
  }
  47% {
    left: -400%;
  }
  50% {
    left: -500%;
  }
  57% {
    left: -500%;
  }
  60% {
    left: -600%;
  }
  67% {
    left: -600%;
  }
  70% {
    left: -700%;
  }
  77% {
    left: -700%;
  }
  80% {
    left: -800%;
  }
  87% {
    left: -800%;
  }
  90% {
    left: -900%;
  }
  100% {
    left: -900%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-image: url(/images/dark-wheat.jpg);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
}
p {
  padding: 1.2rem 0;
  line-height: 2.5rem;
  font-size: 1.8rem;
  font-family: 'Nunito', Sans-serif;
  color: 0;
  font-weight: 600;
}
h2 {
  font-size: 3.2rem;
  font-family: 'Mali', Sans-serif;
  color: #90a955;
}
h3 {
  font-size: 2.5rem;
  font-family: 'Mali', Sans-serif;
  color: #33646e;
}
header a,
.under-nav a {
  font-size: 2.5rem;
  font-family: 'Mali', Sans-serif;
  color: #a85f1a;
  align-self: center;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 5px 9px 4px #b8af89;
}
header a:active,
.under-nav a:active {
  box-shadow: 0 5px 10px #b48a3b;
  transform: translateY(1px);
}
header a:hover,
.under-nav a:hover {
  background: #2e889c !important;
  color: #fff;
  border-radius: 0.8rem;
}
header nav {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0;
}
header nav .logo {
  width: 26.5rem;
  display: flex;
  margin-left: 2.5rem;
}
header nav .logo h1 {
  width: 25rem;
  align-self: center;
  text-align: center;
  padding-left: 1rem;
  font-size: 3.5rem;
  color: #a85f1a;
  font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
  font-weight: bold;
}
header nav .logo img {
  height: 8rem;
  width: 7rem;
}
header nav .navigation {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
header .nav-on-scroll {
  background-color: #f0f1dd;
  box-shadow: inset 0.2rem 0.2rem 0.8rem 0rem #5c9ead;
  border-bottom-right-radius: 7rem;
  border-bottom-left-radius: 7rem;
  opacity: 0.95;
}
header .under-nav {
  display: flex;
  justify-content: 0;
  flex-direction: row;
  margin-top: 16rem;
}
header .under-nav .intro {
  display: flex;
  justify-content: 0;
  flex-direction: column;
  width: 50%;
  padding: 5rem 3rem 0 4rem;
}
header .under-nav .intro #main-button {
  background: #5296a5;
  color: #fff;
  padding: 1.2rem 1.4rem;
  margin-top: 2rem;
}
header .under-nav .slide-show {
  width: 50%;
  overflow: hidden;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
header .under-nav .slide-show figure {
  position: relative;
  width: 1000%;
  margin: 0px;
  left: 0px;
  z-index: -99;
}
header .under-nav .slide-show img {
  width: 10%;
  float: left;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border: 4px solid #5c9ead;
  border-right: none;
}
footer {
  padding-top: 2rem;
  text-align: center;
  box-shadow: inset 0.2rem 0.2rem 0.8rem 0rem #5c9ead;
}
footer .left-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer .social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 35rem;
}
footer .social-icons img:hover {
  background-color: #f1ddb7;
}
footer p {
  padding: 2rem 0;
}
.top-main-content .top {
  padding: 2.5rem 0;
  margin-top: 3rem;
  text-align: center;
  box-shadow: 0 1px 4px #999;
}
.top-main-content .top h2 {
  padding-top: 1rem;
  font-family: 'SignPainter-HouseScript', 'signpainter', 'Brush Script MT', Arial, sans-serif;
  font-size: 4rem;
}
.top-main-content .arrow-down {
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 4px #8f8989;
}
.main-content {
  background: #fff;
}
.main-content .produce {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.main-content .produce #grapes {
  height: 20rem;
  width: 40rem;
  align-self: center;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 0 6rem 4rem;
}
.main-content .bottom-content h2 {
  padding-bottom: 3rem;
}
.main-content .bottom-content .bottom-left {
  width: 49%;
}
.main-content .bottom-content .bottom-right {
  width: 49%;
}
